// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #0F1626
$secondary = #AB987A
$accent    = #FF533D

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037

$teste      = #FF533D

// Paleta Oficial
//#0F1626
//#AB987A
//#FF533D
//#F5F5F5

@import '~quasar-variables-styl'
